body {
  font-family: "Raleway", sans-serif;
  margin: auto;
}

.container {
  padding: 0 40px;
}

.container h1 {
  font-size: 25px;
  font-weight: 800;
}

.container h2 {
  font-size: 21px;
  font-weight: 800;
}

.container h3 {
  font-size: 17px;
  font-weight: 800;
}

.container p {
  font-size: 17px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px 0px;
  }

  .container h2 {
    font-size: 21px;
  }

  .container h3 {
    font-size: 20px;
  }
}

/*NAVBAR*/

.search {
  padding: 0 15px;
  margin: 15px 0;
}

#logo {
  height: 50px;
  width: auto;
  margin-right: auto;
  padding-left: 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.sub-nav {
  display: flex;
}

nav a {
  color: black;
  font-weight: 600;
  padding: 30px;
  text-decoration: none;
  border-top: 3px solid transparent;
}

nav a:hover {
  color: var(--blue);
  border-top-color: var(--blue);
  padding-top: 30px;
}

/*RESULTS MESSAGE*/
.results-message {
  display: flex;
  align-items: center;
  margin: 16px 0;
  gap: 10px;
}

.results-message .fas {
  border: 1px solid lightgrey;
  color: var(--blue);
  border-radius: 50%;
  width: 2%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
/* SEARCH-FORM*/

.search-form {
  display: flex;
  margin-top: 25px;
}

.search-form > * {
  padding: 15px 16px;
}

.fas.fa-map-marker-alt {
  background-color: var(--gray);
  border-radius: 12px 0 0 12px;
}

.search-form input {
  border: 1px solid var(--gray);
  font-weight: 700;
}

.search-form input::placeholder {
  color: black;
  font: inherit;
}

input {
  background-color: transparent;
  font: inherit;
}

.search-form button {
  background-color: var(--blue);
  border-radius: 0 12px 12px 0;
  border: none;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 600;
}

.search-form button:hover {
  opacity: 1;
}

.fas.fa-search {
  background-color: inherit;
  display: none;
}

/* FILTERS */

.filter {
  border: 2px solid var(--gray);
  border-radius: 40px;
  transition: all 1s ease-out;
}

.filter-list {
  padding-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.filter-list .fas {
  border: 1px solid var(--lightblue);
  border-radius: 50%;
  color: var(--blue);
  background-color: var(--lightblue);
  padding: 14px;
  margin: -3px;
}

.fas.fa-child {
  padding: 14px 16px;
}

.filter span {
  font-weight: 800;
  padding: 17px;
}

.filter:hover {
  background-color: var(--gray);
  transform: scale(1.15);
  color: var(--blue);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .filter-list h1 {
    width: 100%;
  }
  .filter-list {
    gap: 14px;
  }
}
@media screen and (max-width: 768px) {
  .search-form {
    margin-top: 30px;
  }

  .search-text {
    display: none;
  }

  .search-form button {
    border-radius: 12px;
    margin-left: -20px;
  }

  .fas.fa-search {
    display: inline;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .container {
    width: fit-content;
  }
  #logo {
    justify-content: center;
    margin: auto;
    padding-left: 0px;
  }

  .nav {
    padding: 0;
  }

  .sub-nav {
    flex-basis: 100%;
  }

  .sub-nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid lightgrey;
  }

  .sub-nav a:hover {
    border-bottom-color: #0065fc;
    border-top-color: transparent;
  }
}

/*APARTMENTS LISTS*/

.apartments-list {
  gap: 30px;
  display: flex;
}

.city {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
  border: 1px solid var(--gray);
  background-color: var(--gray);
  border-radius: 20px;
  padding: 12px;
}

.city h2 {
  padding-left: 23px;
}

.city-apartments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.apartments-list .city a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.plus {
  padding: 10px 0 10px 30px;
}

/*STARS*/

.blue {
  color: var(--blue);
}

.gray {
  color: var(--gray);
}

/* card-apartments*/

.card-apartments-link {
  flex-basis: 31%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 2%;
  box-shadow: 2px 3px 3px rgb(153, 150, 150);
  align-items: center;
  padding: 5px 5px 10px 5px;
}

.card-apartments {
  display: flex;
  flex-direction: column;
  max-height: 300px;
}

.card-apartments img {
  height: 110px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.card-apartments:hover {
  color: var(--blue);
  transition: all ease-out;
  transform: scale(1.02);
}

.card-apartments-body {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  max-height: 200px;
  margin: 0;
}

.card-apartments-body h3 {
  margin: 5px 0 0 0;
}

@media screen and (max-width: 768px) {
  .card-apartments img {
    height: 130px;
    width: 100%;
  }

  .card-apartments p {
    margin: 12px 0;
  }
}
/*POPULAR*/

.city-apartments-list .popular-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.popular {
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
  border: 1px solid var(--gray);
  background-color: var(--gray);
  border-radius: 20px;
  padding: 10px;
}

.popular-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.popular h2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .apartments-list {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .popular {
    order: -1;
    border-radius: 0;
  }

  .city {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: white;
  }
}

@media screen and (max-width: 768px) {
  .apartments-list h2 {
    padding: 0 10px;
  }

  .city-apartments-list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .city {
    gap: 5px;
  }

  .plus {
    padding: 10px;
  }

  .popular-list {
    margin-top: 10px;
    padding: 5px;
  }
}

/*POPULAR-CARD*/

.card-popular {
  display: flex;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 3px 3px darkgrey;
  margin-top: 10px;
  padding: 5px 0 5px 5px;
}

.card-popular-image {
  width: 55%;
  overflow: hidden;
  border-radius: 18px 0 0 18px;
}

.card-popular img {
  height: 100%;
  width: 120%;
  object-fit: cover;
}

.card-popular-body {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding-left: 13px;
  height: 140px;
}

.card-popular-body p,
.card-popular-body h3 {
  margin: 5px 0;
}

.card-popular-body .card-stars {
  margin-top: auto;
}

.card-popular-link {
  color: black;
  text-decoration: none;
}

.card-popular:hover {
  color: var(--blue);
  transition: all ease-out;
  transform: scale(1.05);
}

/*ACTIVITIES */

.activities-list {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 550px;
  justify-content: space-around;
}

.activities-list img {
  object-fit: cover;
  width: 350px;
  max-height: 520px;
}

.card-activities {
  max-width: 23%;
  max-height: 535px;
  border-radius: 20px;
  box-shadow: 2px 3px 3px var(--gray);
}

.card-activities:hover,
.activities-list a:hover {
  color: var(--blue);
  transition: all ease-out;
  transform: scale(1.05);
}

.card-activities img {
  border-radius: 20px 20px 0 0;
  max-width: 100%;
}

.big img {
  height: 466px;
}

.medium-l img {
  height: 225px;
}

.small img {
  height: 161px;
}
.medium img {
  height: 188px;
}

.activities-list a {
  text-decoration: none;
  color: black;
}

.activities h2 {
  margin-top: 2%;
}

.activities-list h3 {
  padding-left: 3%;
  font-size: 14px;
}

.activities-list p {
  font-weight: 700;
}

.card-activities-body {
  display: flex;
  max-height: 44px;
}

@media screen and (max-width: 992px) {
  .activities-list {
    gap: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: stretch;
    align-content: inherit;
    margin: 3%;
  }

  .card-activities {
    max-width: 100%;
    height: 100%;
  }

  .activities-list img {
    object-fit: cover;
    width: 100%;
    height: 130px;
  }

  .activities h2 {
    margin: 5% 4%;
  }
}
/*FOOTER*/

footer {
  display: flex;
  margin-top: 50px;
  padding: 3%;
  background-color: var(--gray);
}

footer ul li {
  margin: 3% 0%;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  font-weight: 500;
}

.section_footer {
  margin-right: 2%;
  flex: 1;
}

footer a {
  text-decoration: none;
  color: black;
}

footer h3 {
  font-weight: 800;
  margin-bottom: 7%;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding-left: 5%;
  }

  footer h3 {
    margin-top: 6%;
    margin-bottom: 0;
  }
}

/*propriété box-sixing */
* {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
}

:root {
  --blue: #0065fc;
  --lightblue: #deebff;
  --gray: #f2f2f2;
}












